.status-property {
  height: 6em;
  padding: 10px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
  float: left;
}

.status-value {
  font-size: 1.75em;
}

.status-unit {
  /*float: right;*/
  margin-left: 10%;
}

.status-property {
  width: 50%;
}

@media (min-width: 770px) {
  .status-property {
    width: 25%;
  }
}

@media (max-width: 320px) {
  .status-property {
    width: 100%;
  }
}
