.chart-wrapper {
  padding: 20px;
  max-width: 900px;
}

/* Chartist overrides
-------------------------------------------*/

.ct-series-a .ct-line, .ct-area {
	stroke: #637140 !important;

}

.ct-chart .ct-area {
  stroke: none !important;
  fill-opacity: .6 !important;
	fill: rgba(82, 97, 43, 0.6) !important;
}

.ct-grid {
	stroke-dasharray: 0px !important;
}

/*.ct-label {
	font-size: 0.9em !important;
}

foreignobject .ct-horizontal {
	width: 75px !important;
	overflow: visible !important;
}

.ct-label.ct-horizontal.ct-end {
  margin-left: -20px;
}*/
